



<!-- About Section -->
<section id="about" class="about section" style="margin-top:80px;">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <div><span>Learn More</span> <span class="description-title">About Us</span></div>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gx-5 align-items-center">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="200">
                <div class="about-image position-relative">
                    <img src="~/assets/img/abstract/beautiful-car-interior-clean-up-service.jpg" class="img-fluid rounded-4 shadow-sm" alt="About Image" loading="lazy">
                    <div class="experience-badge">
                        <span class="years">12+</span>
                        <span class="text">Years of Expertise</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-left" data-aos-delay="300">
                <div class="about-content">
                    <h2>We pay attention to the smallest details</h2>
                    <p>
                        We provide professional car care with a focus on dry clean services.
                        Our team removes dirt, odors, and stains with precision.
                        Every vehicle gets detailed attention inside and out.
                        We care for your car as if it were our own.
                    </p>

                    <div class="row g-4 mt-3">
                        <div class="col-md-6" data-aos="zoom-in" data-aos-delay="400">
                            <div class="feature-item">
                                <i class="bi bi-car-front-fill"></i>
                                <h5>Dedicated Team Support</h5>
                                <p>Our highly skilled professionals are committed to providing personalized service and impactful solutions on every engagement.</p>
                            </div>
                        </div>
                        <div class="col-md-6" data-aos="zoom-in" data-aos-delay="450">
                            <div class="feature-item">
                                <i class="bi bi-person-raised-hand"></i>
                                <h5> Expert Upholstery Team</h5>
                                <p>
                                   
                                    We have the best specialists in vehicle upholstery, delivering top-quality craftsmanship and care.
                                </p>
                            </div>
                        </div>
                    </div>

                    <a href="/Home/services" class="btn btn-primary mt-4">Explore Our Services</a>
                </div>
            </div>
        </div>


</div>

</section><!-- /About Section -->
