@{
    ViewData["Title"] = "Home Page";
}




<!-- Hero Section -->
<section id="hero" class="hero section" style="margin-top:80px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 content-col" data-aos="fade-up">
                <div class="content">
                    <div class="agency-name">
                        <h5>
                            OUR CENTER
                        </h5>
                    </div>

                    <div class="main-heading">
                        <h1>DETAILING <br>POLISHING</h1>
                    </div>

                    <div class="divider"></div>

                    <div class="description">
                        <p>
                            Experience excellence in automotive care.
                            We transform your vehicle with precision detailing and expert upholstery.
                            Using advanced techniques, we deliver results that exceed expectations.
                            From interior refinement to exterior perfection — we master it all.
                            With trusted hands and loyal clients, we rank among the very best.

                        </p>
                    </div>

                    <div class="cta-button">
                        <a href="/Home/Services" class="btn">
                            <span>EXPLORE SERVICES</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-5" data-aos="zoom-out">
                <div class="visual-content">
                    <div class="fluid-shape">
                        <img src="~/assets/img/abstract/Rose-png.png" alt="Abstract Fluid Shape" class="fluid-img">
                    </div>

               
                </div>
            </div>
        </div>
    </div>
</section><!-- /Hero Section -->











 @* services *@



<!-- Services Section -->
<section id="services" class="services section" style="margin-top:80px;">

    <!-- Section Title -->
    <div class="container section-title text-center" data-aos="fade-up">
        <h2>Services</h2>
        <div><span>Check Our</span> <span class="description-title">Services</span></div>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">



        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-card position-relative z-1">


                    <img style="width:300px; margin:0 auto;" src="https://www.carwashnearme.co.in/wp-content/uploads/elementor/thumbs/Car-Dry-Clean-delhi-ql7owc9auyf50jucnq9in028gedmfpfq85xedul618.jpg" />

                    <h3>
                        <a href="service-details.html">
                            <span class="mt-4"> Dry Clean</span>
                        </a>
                    </h3>
                    <p>
                        We provide expert car dry cleaning with meticulous care, modern techniques, and high-quality materials to ensure a spotless interior, restore comfort, and elevate the overall driving experience.

                    </p>

                    <!-- السعر القديم والجديد -->
                    <div style="margin-top: 10px;">
                        <span style="color: white; font-size: 14px; text-decoration: line-through; margin-right: 10px;">JD40</span>
                        <span style="color: #ff914d; font-size: 20px; font-weight: bold;">Start JD25</span>
                    </div>
                </div>
            </div>





            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-card position-relative z-1">
                    <img style="width:300px;height:200px; margin:0 auto;" src="https://theragcompany.eu/cdn/shop/articles/DSC08500.jpg?v=1715157054&width=2200" />

                    <h3>
                        <a href="service-details.html">
                            <span class="mt-4">Car Wash</span>
                        </a>
                    </h3>

                    <p>
                        We deliver professional car wash services using advanced methods, eco-friendly products, and attention to detail to ensure your vehicle shines, stays protected, and reflects true care.

                    </p>

                    <!-- السعر القديم والجديد -->
                    <div style="margin-top: 10px;">
                        <span style="color: white; font-size: 14px; text-decoration: line-through; margin-right: 10px;">JD10</span>
                        <span style="color: #ff914d; font-size: 20px; font-weight: bold;">JD5</span>
                    </div>

                </div>
            </div>




            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-card position-relative z-1">


                    <img style="width:300px; margin:0 auto;" src="https://cdn-ds.com/blogs-media/sites/167/2023/06/28174859/AdobeStock_367018612-1536x1024.jpeg" />

                    <h3>
                        <a href="service-details.html">
                            <span class="mt-4"> polish car</span>
                        </a>
                    </h3>
                    <p>
                        We offer expert car polishing services using cutting-edge tools, high-grade compounds, and precise techniques to restore shine, remove imperfections, and protect your vehicle’s paint for a lasting showroom finish.

                    </p>

                    <!-- السعر القديم والجديد -->
                    <div style="margin-top: 10px;">
                        <span style="color: white; font-size: 14px; text-decoration: line-through; margin-right: 10px;">JD60</span>
                        <span style="color: #ff914d; font-size: 20px; font-weight: bold;">Start JD40</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-card position-relative z-1">


                    <img style="width:300px; margin:0 auto;" src="https://d2hucwwplm5rxi.cloudfront.net/wp-content/uploads/2021/09/12022721/car-seat-repairAR12092-min-1024x683.jpg" />

                    <h3>
                        <a href="service-details.html">
                            <span class="mt-4"> Car Upholstery </span>
                        </a>
                    </h3>
                    <p>
                        We provide professional seat upholstery services using premium fabrics, expert craftsmanship, and tailored solutions to renew worn interiors, enhance comfort, and give your car a refined, like-new look.
                    </p>

                    <!-- السعر القديم والجديد -->
                    <div style="margin-top: 10px;">
                        <span style="color: white; font-size: 14px; text-decoration: line-through; margin-right: 10px;">JD190</span>
                        <span style="color: #ff914d; font-size: 20px; font-weight: bold;">Start JD125</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-card position-relative z-1">


                    <img style="width:300px; margin:0 auto; height:300px;" src="~/assets/img/services/WhatsApp Image 2025-07-21 at 12.04.36_b1c34ccd.jpg" />

                    <h3>
                        <a href="service-details.html">
                            <span class="mt-4"> Seat Waxing</span>
                        </a>
                    </h3>
                    <p>
                        We offer high-quality seat wrapping services with durable materials, precision fitting
                    </p>


                    <!-- السعر القديم والجديد -->
                    <div style="margin-top: 10px;">
                        <span style="color: white; font-size: 14px; text-decoration: line-through; margin-right: 10px;">JD40</span>
                        <span style="color: #ff914d; font-size: 20px; font-weight: bold;">Start JD25</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-card position-relative z-1">


                    <img style="width:300px; margin:0 auto;" src="https://vedlem.com/wp-content/uploads/2024/05/3m-600x400.webp" />

                    <h3>
                        <a href="service-details.html">
                            <span class="mt-4">Floor Upholstery</span>
                        </a>
                    </h3>
                    <p>
                        We specialize in car floor upholstery using premium materials and skilled craftsmanship to restore, protect, and enhance your vehicle’s interior, ensuring a clean and comfortable ride every time.
                    </p>


                    <!-- السعر القديم والجديد -->
                    <div style="margin-top: 10px;">
                        <span style="color: white; font-size: 14px; text-decoration: line-through; margin-right: 10px;">JD50</span>
                        <span style="color: #ff914d; font-size: 20px; font-weight: bold;">JD30</span>
                    </div>
                </div>
            </div>





        </div>

    </div>

</section><!-- /Services Section -->
 @* services *@