
@{
    ViewData["Title"] = "Services";
}


<!-- Services Section -->
<section id="services" class="services section" style="margin-top:80px;">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <div><span>Check Our</span> <span class="description-title">Services</span></div>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="service-header">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-12">
                    <div class="service-intro">
                        <h2 class="service-heading">
                            <div>Innovative business</div>
                            <div><span>performance solutions</span></div>
                        </h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="service-summary">
                        <p>
                            We integrate forward-thinking strategies, creative approaches, and state-of-the-art technologies to deliver exceptional customer experiences that drive growth and engage target markets.
                        </p>
                        <a href="services.html" class="service-btn">
                            View All Services
                            
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-card position-relative z-1">
              

                    <img style="width:300px; margin:0 auto;" src="https://www.carwashnearme.co.in/wp-content/uploads/elementor/thumbs/Car-Dry-Clean-delhi-ql7owc9auyf50jucnq9in028gedmfpfq85xedul618.jpg" />
                 
                    <h3>
                        <a href="service-details.html">
                            <span class="mt-4"> Dry Clean</span>
                        </a>
                    </h3>
                    <p>
                        We provide expert car dry cleaning with meticulous care, modern techniques, and high-quality materials to ensure a spotless interior, restore comfort, and elevate the overall driving experience.

                    </p>

                    <!-- السعر القديم والجديد -->
                    <div style="margin-top: 10px;">
                        <span style="color: white; font-size: 14px; text-decoration: line-through; margin-right: 10px;">JD40</span>
                        <span style="color: #ff914d; font-size: 20px; font-weight: bold;">JD25</span>
                    </div>
                </div>
            </div>




    
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-card position-relative z-1">
                    <img style="width:300px;height:200px; margin:0 auto;" src="https://theragcompany.eu/cdn/shop/articles/DSC08500.jpg?v=1715157054&width=2200" />

                    <h3>
                        <a href="service-details.html">
                            <span class="mt-4">Car Wash</span>
                        </a>
                    </h3>

                    <p>
                        We deliver professional car wash services using advanced methods, eco-friendly products, and attention to detail to ensure your vehicle shines, stays protected, and reflects true care.

                    </p>

                    <!-- السعر القديم والجديد -->
                    <div style="margin-top: 10px;">
                        <span style="color: white; font-size: 14px; text-decoration: line-through; margin-right: 10px;">JD10</span>
                        <span style="color: #ff914d; font-size: 20px; font-weight: bold;">JD5</span>
                    </div>

                </div>
            </div>




            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-card position-relative z-1">


                    <img style="width:300px; margin:0 auto;" src="https://cdn-ds.com/blogs-media/sites/167/2023/06/28174859/AdobeStock_367018612-1536x1024.jpeg" />

                    <h3>
                        <a href="service-details.html">
                            <span class="mt-4"> polish car</span>
                        </a>
                    </h3>
                    <p>
                        We offer expert car polishing services using cutting-edge tools, high-grade compounds, and precise techniques to restore shine, remove imperfections, and protect your vehicle’s paint for a lasting showroom finish.

                    </p>

                    <!-- السعر القديم والجديد -->
                    <div style="margin-top: 10px;">
                        <span style="color: white; font-size: 14px; text-decoration: line-through; margin-right: 10px;">JD60</span>
                        <span style="color: #ff914d; font-size: 20px; font-weight: bold;">JD40</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-card position-relative z-1">


                    <img style="width:300px; margin:0 auto;" src="https://d2hucwwplm5rxi.cloudfront.net/wp-content/uploads/2021/09/12022721/car-seat-repairAR12092-min-1024x683.jpg" />

                    <h3>
                        <a href="service-details.html">
                            <span class="mt-4"> Car Upholstery </span>
                        </a>
                    </h3>
                    <p>
                        We provide professional seat upholstery services using premium fabrics, expert craftsmanship, and tailored solutions to renew worn interiors, enhance comfort, and give your car a refined, like-new look.
                    </p>

                    <!-- السعر القديم والجديد -->
                    <div style="margin-top: 10px;">
                        <span style="color: white; font-size: 14px; text-decoration: line-through; margin-right: 10px;">JD190</span>
                        <span style="color: #ff914d; font-size: 20px; font-weight: bold;">JD125</span>
                    </div>
                </div>
            </div>


                     <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-card position-relative z-1">
              

                    <img style="width:300px; margin:0 auto; height:200px;" src="~/assets/img/services/WhatsApp Image 2025-07-21 at 12.04.36_b1c34ccd.jpg" />
                 
                    <h3>
                        <a href="service-details.html">
                            <span class="mt-4"> Seat Waxing</span>
                        </a>
                    </h3>
                    <p>
                        We offer high-quality seat wrapping services with durable materials, precision fitting, and stylish designs to protect your seats, improve interior aesthetics, and ensure long-lasting comfort and cleanliness.
                    </p>


                    <!-- السعر القديم والجديد -->
                    <div style="margin-top: 10px;">
                        <span style="color: white; font-size: 14px; text-decoration: line-through; margin-right: 10px;">JD40</span>
                        <span style="color: #ff914d; font-size: 20px; font-weight: bold;">JD25</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-card position-relative z-1">


                    <img style="width:300px; margin:0 auto;" src="https://vedlem.com/wp-content/uploads/2024/05/3m-600x400.webp" />

                    <h3>
                        <a href="service-details.html">
                            <span class="mt-4">Floor Upholstery</span>
                        </a>
                    </h3>
                    <p>
                        We specialize in car floor upholstery using premium materials and skilled craftsmanship to restore, protect, and enhance your vehicle’s interior, ensuring a clean and comfortable ride every time.
                    </p>


                    <!-- السعر القديم والجديد -->
                    <div style="margin-top: 10px;">
                        <span style="color: white; font-size: 14px; text-decoration: line-through; margin-right: 10px;">JD50</span>
                        <span style="color: #ff914d; font-size: 20px; font-weight: bold;">JD30</span>
                    </div>
                </div>
            </div>

 


  
        </div>

    </div>

</section><!-- /Services Section -->

