
@{
    ViewData["Title"] = "Team";
}

<!-- Team Section -->
<section id="team" class="team section light-background" style="margin-top:80px;">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <div><span>Check Our</span> <span class="description-title">Team</span></div>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member d-flex">
                    <div class="member-img">
                        <img src="~/assets/img/person/475102814_8762504530543574_20122775225398244_n.jpg" class="img-fluid" alt="" loading="lazy">
                    </div>
                    <div class="member-info flex-grow-1">
                        <h4>
                            Mohammad Jamal Sawalha
                        </h4>
                        <span>
                            Team Leader
                        </span>
                        <p> Center Manager</p>
                        <div class="social">
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                            <a href=""><i class="bi bi-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200" style="height:200px;overflow:hidden">
                <div class="team-member d-flex">
                    <div class="member-img">
                        <img src="~/assets/img/person/84894654_100262508225130_319834167149854720_n.jpg" class="img-fluid" alt="" loading="lazy" height="100px;" >
                    </div>
                    <div class="member-info flex-grow-1">
                        <h4>ِAyham Sawalha</h4>
                        <span>
                            Car Dry Cleaning Expert

                        </span>
                        <div class="social mt-5">
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                            <a href=""><i class="bi bi-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <div class="team-member d-flex">
                    <div class="member-img">
                        <img src="https://alaaliswift.com/assets/img/page/home/apptype/CJXv3/2_1641029817_EN.jpg" class="img-fluid" alt="" loading="lazy">
                    </div>
                    <div class="member-info flex-grow-1">
                        <h4>William Anderson</h4>
                        <span>Car Wash</span>
                        <div class="social mt-5">
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                            <a href=""><i class="bi bi-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- End Team Member -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                <div class="team-member d-flex">
                    <div class="member-img">
                        <img src="https://www.alquds.co.uk/wp-content/uploads/2024/07/BAHH-730x438.jpg" class="img-fluid" alt="" loading="lazy" style="height:190px;">
                    </div>
                    <div class="member-info flex-grow-1">
                        <h4>Amanda Jepson</h4>
                        <span>
                            Car Upholsterer

                        </span>
                        <div class="social mt-5">
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                            <a href=""><i class="bi bi-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- End Team Member -->




        </div>

    </div>

</section><!-- /Team Section -->
